<button routerLink="">🏠 Home</button>
<h1>{{ (country$ | async)?.country }} </h1>
<div class="container">
    <div class="infos">
        <div>Number of entries</div>
        <strong>{{ (country$ | async)?.participations?.length }}</strong>
    </div>
    <div class="infos">
        <div>Total number medals</div>
        <strong>{{ totalMedals$ | async }}</strong>
    </div>
    <div class="infos">
        <div>Total number of athletes</div>
        <strong>{{ totalAthletes$ | async }}</strong>
    </div>
</div>
<div>
    <ngx-charts-line-chart [results]="lineChartData$ | async" [autoScale]="autoScale" [xAxis]="xAxis" [yAxis]="yAxis"
        [showXAxisLabel]="showXAxisLabel" [xAxisLabel]="xAxisLabel">
    </ngx-charts-line-chart>
</div>