* {
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url('assets/img/telesport_fond.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    body {
        background-image: url('assets/img/telesport_fond_mini.png');
    }
}

h1 {
    color: white;
    background-color: darkcyan;
    border-color: darkcyan;
    border-style: solid;
    border-radius: 0.5rem;
    margin: auto;
    padding: 0.2em;
    font-weight: lighter;
    display: inline-block;
}

.container {
    display: flex;
    justify-content: center;
}


.infos {
    border-color: darkcyan;
    border-style: solid;
    border-radius: 0.5rem;
    margin: 1em;
    padding: 0.8em;
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    .container {
        flex-direction: column;
    }

    .infos {
        margin: 1em auto;
    }
}

ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
    .tooltip-caret.position-top {
        border-top-color: darkcyan;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }

    background-color: darkcyan;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 0.5em;
}